<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/admin/main_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content" class="page-inner">
		<div id="main-wrapper">
                <div class="col-md-12">
                    <div class="row m-t-md">
                    <div class="row mailbox-header">
                        <div class="col-md-2">
                            <a href="/newservices" class="btn btn-success btn-block">Thêm dịch vụ</a>
                        </div>
                        
                        <div class="col-md-10">
                            <form action="#" method="GET">
                                <div class="input-group">
                                    <input type="text" name="search" class="form-control input-search" placeholder="Search...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" type="button"><i class="fa fa-search"></i></button>
                                    </span>
                                </div><!-- Input Group -->
                            </form>
                       </div>
                    </div>
                </div>
            </div>
        </div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-white">
					<div class="panel-heading clearfix">
						<h4 class="panel-title">Basic example</h4>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table id="example" class="display table"
								style="width: 100%; cellspacing: 0;">
								<thead>
									<tr>
					<th>Service id</th>
					<th>Name</th>
					<th>Category</th>
					<th>Price</th>
					<th>Images</th>
					<th>Status</th>
					<th>Description</th>
					<th>discount</th>
					<th>Action</th>
					<th></th>
				</tr>
								</thead>
								<tfoot>
									<tr>
					<th>Service id</th>
					<th>Name</th>
					<th>Category</th>
					<th>Price</th>
					<th>Images</th>
					<th>Status</th>
					<th>Description</th>
					<th>discount</th>
					<th>Action</th>
					<th></th>
				</tr>
								</tfoot>
								<tbody>
									<tr th:each="services : ${listServices}">
										<td th:text="${services.id}">Service id</td>
										<td th:text="${services.name}">name</td>
										<td th:text="${services.cate}">cate</td>
										<td th:text="${services.price}">price</td>
										<td th:text="${services.images}">images</td>
										<td th:text="${services.status}">Status</td>
										<td th:text="${services.description}">de</td>
										<td th:text="${services.discount}">di</td>
										<td><a th:href="@{'/edit/' + ${services.id}}">edit</a></td>
										<td><a th:href="@{'/delete/' + ${services.id}}">delte</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	 
</body>
</html>