<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Blog Manager</title>
</head>
<body>
	<div align="center">
		<h1>Blog Manager</h1>
		<a href="/newblog">Create new Blog</a>
		<table border="1">
			<thead>
				<tr>
					<th>Service id</th>
					<th>Category id</th>
					<th>Date</th>
					<th>Username</th>
					<th>Images</th>
					<th>Content</th>
					<th>Action</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="blog : ${listblog}">
					<td th:text="${blog.id}">Blog id</td>
					<td th:text="${blog.cate}">Category id</td>
					<td th:text="${blog.datepost}">Date</td>
					<td th:text="${blog.username}">Username</td>
					<td th:text="${blog.images}">Images</td>
					<td th:text="${blog.content}">Content</td>
					<td>
						<a th:href="@{'/editblog/' + ${blog.id}}">edit</a>
					</td>
					<td>
						<a th:href="@{'/deleteblog/' + ${blog.id}}">delete</a>
					</td>				
				</tr>
			</tbody>
		</table>
	</div>
	
</body>
</html>