<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Create new blog categories</title>
</head>
<body>
	<div align="center">
		<h1>Create new Blog Categories </h1>
		<br/>
		<form action="#" th:action="@{/saveblogcategories}" th:object="${blogcategories}" method="post">
			<table border="0">
				
				<tr>
					<td>Category name</td>
					<td><input type="text" th:field="*{name}" /></td>
				</tr>
			
				<tr>
					<td><button type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>