<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Create new</title>
</head>
<body>
	<div align="center">
		<h1>Edit Service Categories</h1>
		<br/>
		<form action="#" th:action="@{/saveservicecate}" th:object="${servicecategories}" method="post">
			<table border="0">
				<tr>
					<td>Category id</td>
					<td><input type="text" th:field="*{id}" readonly="readonly"/></td>
				</tr>
				<tr>
					<td>Category name</td>
					<td><input type="text" th:field="*{name}" /></td>
				</tr>
			
				<tr>
					<td><button type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>