<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="assets/css/material-kit.css?v=2.1.1" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="assets/demo/demo.css" rel="stylesheet" />
  <link href="assets/demo/vertical-nav.css" rel="stylesheet" />
       
    </head>
<body class="sections-page sidebar-collapse">
<div th:replace="fragments/layout/nav :: nav"></div>
<div class="main">
    <div class="section-space"></div>

<!--header.html  that's here  -->
        <div th:replace="fragments/layout/header :: header"></div>
    
        <div layout:fragment="content"></div>
    <!--footer.html  that's here  -->
        
        </div>
        
    
</body>
</html>